---
import Tag from "@/components/Tag";
import TitlePage from "@/components/TitlePage";
import BaseLayout from "@/layouts/BaseLayout";
import { getTags } from "@/utils";
const tags = await getTags();
---

<BaseLayout title="Tags">
  <TitlePage title="Tags" />
  <div class="flex justify-center flex-wrap gap-4">
    {tags.map((tag) => <Tag tag={tag} />)}
  </div>
</BaseLayout>
