---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="noindex" name="robots" />
    <link href="/admin/config.yml" rel="cms-config-url" type="text/yaml" />
    <title>Content Manager</title>
  </head>
  <body>
    <!-- Add a simpler button:
    Simple button that will open the modal.
  -->
    <div data-netlify-identity-button></div>
    <!-- Dashboard script-->
    <script is:inline src="https://unpkg.com/decap-cms@^3.4.0/dist/decap-cms.js"
    ></script>
    <!-- <script>
      import CMS from "decap-cms-app";
      import cloudinary from "decap-cms-media-library-cloudinary";
      import { BlogPreview } from "src/decap-preview/react/BlogPreview";

      // Initialize the CMS object
      CMS.init();
      // TODO: Reference to custom edit UI https://decapcms.org/docs/customization/
      // Now the registry is available via the CMS object.
      // CMS.registerPreviewTemplate("my-template", MyTemplate);
      CMS.registerMediaLibrary(cloudinary);
      CMS.registerPreviewStyle("src/styles/global.css");
      CMS.registerPreviewTemplate("blog", BlogPreview);
    </script> -->
  </body>
</html>
