---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="noindex" name="robots" />
    <link href="/admin/config.yml" rel="cms-config-url" type="text/yaml" />
    <title>Content Manager</title>
  </head>
  <body>
    <script>
      import CMS from "decap-cms-app";
      // Initialize the CMS object
      CMS.init();
      // TODO: Reference to custom edit UI https://decapcms.org/docs/customization/
      // Now the registry is available via the CMS object.
      // CMS.registerPreviewTemplate("my-template", MyTemplate);
    </script>
  </body>
</html>
