---
import ListCategories from "@/components/ListCategories";
import ListPosts from "@/components/ListPosts";
import TitlePage from "@/components/TitlePage";
import { siteConfig } from "@/data/site.config";
import BaseLayout from "@/layouts/BaseLayout";
import { ContentRetriever } from "@/utils";

const MAX_POSTS = 100; // max number of posts to show on the home page
const posts = await ContentRetriever.getPosts(MAX_POSTS);
---

<BaseLayout title="Home">
  <TitlePage title={siteConfig.title} titleFirstLetterUppercase={false} />
  <ListCategories />

  <div class="flex-grow">
    <h2 class="text-lg font-medium tracking-wide text-end">Latest Posts</h2>
    <ListPosts FirstBig={true} posts={posts.items} />
  </div>
</BaseLayout>

<script>
  import { animate } from "motion";
  const showAnimations = localStorage.getItem("animations") === "true";

  if (showAnimations) {
    animate(
      ".title",
      { opacity: [0, 1], y: [80, 0] },
      {
        duration: 2.5,
        offset: [0, 0.55, 0.75],

        opacity: { duration: 3 },
      },
    );
  }
</script>
