---
import type { HTMLAttributes } from "astro/types";

import { cn } from "@/utils";
type Props = HTMLAttributes<"a">;

const { class: className, href, ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  class={cn(isActive ? "text-opacity-100" : "text-opacity-60", className)}
  href={href}
  rel="noopener noreferrer "
  {...props}
>
  <slot />
</a>
