---
import type { CollectionEntry } from "astro:content";

import PostCard from "@components/PostCard.astro";
import { cn } from "@utils";

type Props = {
  FirstBig?: boolean;
  posts: CollectionEntry<"blog">[];
};

const { FirstBig = false, posts } = Astro.props;
const MAX_IMAGE_EAGER_LOAD = 2;
---

<section
  class={cn(
    `flex-grow grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 mt-3`,
    FirstBig && `md:[&>*:first-child]:col-span-2`,
  )}
>
  {
    posts.map(async (post, index) => {
      const { remarkPluginFrontmatter } = await post.render();

      return (
        <PostCard
          data={post.data}
          id={post.id}
          imageEagerLoad={
            FirstBig && index < MAX_IMAGE_EAGER_LOAD ? true : false
          }
          readTime={remarkPluginFrontmatter.minutesRead}
          slug={post.slug}
        />
      );
    })
  }
</section>
