---
import { cn } from "@/utils";
const { heading } = Astro.props;

type Heading = {
  depth: number;
  slug: string;
  subheadings: Heading[];
  text: string;
};

export interface Props {
  heading: Heading;
}
---

<li class="flex flex-col">
  <a
    class={cn(`py-1 px-4 mb-2 first-letter:uppercase w-fit line-clamp-2 text-stone-400 dark:text-stone-300`)}
    href={"#" + heading.slug}
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="ml-3">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
