---
interface Props {
  firstLetterUppercase?: boolean;
}

const { firstLetterUppercase = true } = Astro.props;
---

<h1
  class={`text-5xl font-bold ${firstLetterUppercase ? "first-letter:uppercase" : ""}`}
>
  <slot />
</h1>
