---
import { Image } from "astro:assets";

// eslint-disable-next-line
type Props = HTMLImageElement;

const props = Astro.props;
---

<div class="flex flex-row justify-center">
  <Image
    alt={props.alt}
    height={props.height ?? 400}
    src={props.src}
    width={props.width ?? 400}
  />
</div>
