---
import { cld } from "@/utils";
import { Image } from "astro:assets";

// eslint-disable-next-line
type Props = HTMLImageElement;

const props = Astro.props;
---

<div class="flex flex-row justify-center">
  <Image alt={props.alt} height={600} src={cld.image(props.src).toURL()} width={800} />
</div>
