---
import { Image } from "astro:assets";
// eslint-disable-next-line no-undef
type Props = astroHTML.JSX.ImgHTMLAttributes;

const props = Astro.props;
---

{
  props.src && (
    <div class="flex flex-col justify-center items-center w-full not-prose">
      <Image
        alt={props.alt ?? ""}
        class={"mb-2"}
        decoding={"async"}
        height={props.height as number}
        loading={"lazy"}
        src={props.src}
        width={props.width as number}
      />

      <p class="mt-0 font-bold text-center">{props.title}</p>
    </div>
  )
}
